body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    /*background-image:url('/Images/memphis-colorful.png');
    background-repeat:repeat;*/
}
.bg{
    /*background-image: url('/Images/memphis-colorful.png');
    background-repeat: repeat;*/
}
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*.modal {
    z-index: 1040;
}

.modal-backdrop {
    z-index: 999;
}*/

.error {
    color:red;
}
.hide{
    display:none;
}
.middle {
    vertical-align: middle !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}